/* =============
    Base
============= */


.buttoncolor{
    background-color:#D110A7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f8f8f8
}

.button{

     background: color #45294f;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f8f8f8
}
