/* =============
    Typography
============= */
@font-face {
    font-family: 'Hiragino Kaku Gothic Pro';
    src: url('path/to/HiraginoKakuGothicPro.ttf') format('truetype');
  }
  
  .container {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
  }
  
  h1 {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 36px;

  }

  h2 {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 24px;
    margin: none;

  }
  
  h3 {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size:16px;

  }

  h4 {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 16px;

  }
  
  p {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size:16px;

  }
  
  