.thankyouhero{
    background-color: rgba(69, 41, 79, 0.43); 
    margin: 0px;
    img{
        padding-top: 50px;
        display:flex;
        margin: 0 auto; // Centers the image horizontally
        display: block;
    }

    .thankyou{
       text-align: center;
       color: #45294F;

    }


    .foryourpurchase{
        text-align: center;
        color:#45294F;
}

h4{
    text-align: center;
    padding-bottom: 50px;
    margin: 0px;

}
}

.ordersummary{
margin: 0px;
h1{
    background-color: #45294F;
    color: #fafafa;

margin-bottom: none;
padding-top: 5px;


text-align: center;

margin-bottom: 0px; 
text-align: center;
padding-bottom: 5px;

}
}
#card1{

img{
    height: 400px;
    display:flex;
    margin: 0 auto; // Centers the image horizontally
    display: block;
    padding-top:35px;
}

h2{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-top: 20px;

}

h3{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    margin-top: 0px;
    margin-bottom: 0px;

}

h4{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-decoration: underline;

}


}

#card2{

h2{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-top: 20px;

}

h3{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    margin-top: 0px;
    margin-bottom: 0px;

}

h4{

    background-color:  rgba(69, 41, 79, 0.70);
    color: #fafafa;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-decoration: underline;

}

img{
    height: 300px;
    display:flex;
    margin: 0 auto; // Centers the image horizontally
    display: block;
    padding-top:35px;
   
}
}

.ordertotal{
color: #fafafa;
background-color: #45294F;
text-align: center;
.OT{
    padding-top: 15px;

    
}

.dollaramnt{
    padding-bottom: 15px;
    margin-bottom: 200px;
}

}
.paymentmethod{

.imgone1{
    background-color: rgb(218, 219, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 45px;

}

.imgtwo2{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}
}
