#footer{
    @include lg{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        padding-left: 40px;
        text-align: left;
    }

    background-color: #45294F;
    padding-bottom: 50px;
    color: #fafafa;
    padding-top: 20px;
    text-align: center;
    margin-top: 70px;
    h2{
        text-decoration: underline;
        margin-bottom: 60px;
    }
   
   
    aside {

        h3 {
          display: block; // Show the h3 tag by default
          
          @media (max-width: 767px) { // Apply the styles for screens up to 767px wide (considered as mobile devices)
            display: none; // Hide the h3 tag on mobile devices
          }
        }
      }

      article {
     
           
        h3 {
          display: block; // Show the h3 tag by default
          
          @media (max-width: 767px) { // Apply the styles for screens up to 767px wide (considered as mobile devices)
            display: none; // Hide the h3 tag on mobile devices
          }
        }
      }

      div {
        

        h3 {
        
          display: block; // Show the h3 tag by default
          
          @media (max-width: 767px) { // Apply the styles for screens up to 767px wide (considered as mobile devices)
            display: none; // Hide the h3 tag on mobile devices
          }
        }
      }




    


}