header {

    display: grid;
    grid-template-columns: 1fr;
    background-color: #45294F;}
    

.container{
    img{
        height: 40px;
        width: 160px;
    }
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
    


    nav {
        background-color:#45294F;
        padding: 20px;
        display: flex;
    }


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:25px;
  
  //// THIS IS YOUR NAV CODE /////

    #burger-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position:relative;
        padding-right: 25px;
       
      div{
            height: 5px;
            width: 30px;
            background: #fafafa;
            border-radius: 16px;
 
        ///// STYLES FOR YOUR BURGER MENU BARS ////
           
        }
    }

    #burger-btn.open{
        div{
            position: relative;
          transition:.3s;
          //// COLORS & STYLES FOR ALL HERE
          &:first-child{
            transform: rotate(45deg);
            transform-origin: bottom left;
            top:3px;
          }
          &:nth-child(2){
            opacity:0;
          }
          &:last-child{
            transform-origin: top left;
            transform:rotate(-45deg);
            top:-3px;
          }
        }
      }



    #burger-container{
        display: block;
        position: relative;
        z-index: 3;
       
        @include lg{
            display: none;
        }
    }

    #main-menu{

        ul {
            li {
              a {
                color: white;
                font-size: 15px;
                font-family:'Hiragino Kaku Gothic Pro', Arial, sans-serif; ;
                padding-right:15px ;
              }
            }
          }
    

      
      @media only screen and (max-width: 1024px) {
        display: none;
          background-color: #45294F;
          transition:.3s;
          height: 45vh;
          width: 80%;
          position: absolute;
          top: 0;
          right: -100%;
          z-index: 2;

          &.show-menu{
              right:0;
              display: inline;
              transition:.3s;

              /// YOUR STYLES FOR OPEN GO HERE
          }
      }
     
        @include lg{
            
             ul{ 
                  display: flex;
              }
            display: flex;
            position: relative;
            height: auto;
        }
    }
}