header {

    display: grid;
    grid-template-columns: 1fr;
    background-color: #45294F;}
    

.container{
    img{
        height: 40px;
        width: 160px;
    }
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
    


    nav {
        background-color:#45294F;
        padding: 20px;
        display: flex;
    }


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:25px;
  
  //// THIS IS YOUR NAV CODE /////

    #burger-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position:relative;
       
      div{
            height: 5px;
            width: 30px;
            background: #fafafa;
            border-radius: 16px;
 
        ///// STYLES FOR YOUR BURGER MENU BARS ////
           
        }
    }

    #burger-container{
        display: block;
        position: relative;
        z-index: 3;
       
        @include lg{
            display: none;
        }
    }

    #main-menu{
      
      @media only screen and (max-width: 600px) {
          background-color: #45294F ;
          transition:.3s;
          height: 100vw;
          width: 80%;
          position: absolute;
          top: 0;
          right: -100%;
          z-index: 2;

          &.show-menu{
              right:0;
              transition:.3s;
          }
      }
     
        @include lg{
             ul{ 
                  display: flex;
              }
            display: inline;
            position: relative;
            height: auto;
        }
    }
} 
    