*{
    text-decoration: none;
    list-style: none;
}

.foryou{
    background-color: #45294F;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 36px;
    color: #fafafa;
}

.suggestedforyou{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
}

#roundbrush{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
    }

}

#nonslip{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
    }

}

#paddle{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
    }


}

@include lg{
    .suggestedforyou{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    padding-right:200px;
    padding-top: 30px;
    align-items: flex-start;
    }
}








