*{
    text-decoration: none;
    list-style: none;
}

.foryou{
    background-color: #45294F;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 36px;
    color: #fafafa;
}

.suggestedforyou{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
}

#roundbrush{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
        padding-left: 0px;
    }

}

#nonslip{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
    }

}

#paddle{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
        padding-top: 45px;
    }


}

@include lg{
    .suggestedforyou{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        margin-left: 10px;
    }
}








