*{
    text-decoration: none;
    list-style: none;
}

.foryou{
    background-color: #45294F;
}

.suggestedforyou{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

#nonslip{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



