/* =============
    Buttons
============= */

.buttoncolor {
    background-color: #D110A7;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 2px;
    color: #f8f8f8;
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-weight: 500px;
    font-size: 10px;
    text-decoration: none;
    width: 48px;
    height: 13px;

    &:hover {
        background-color: #D110A7;
        color: #fafafa;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    }



}

.button {

    background-color: #45294f;
    ;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f8f8f8;
    text-decoration: none;
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 10px;
    font-weight: 550px;
    padding-top: 7px;

    /* Hovering styles */
    &:hover {
        background-color: #45294f;
        color: #fafafa;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    }
}

.revbutton {

    background-color: #45294f;
    ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f8f8f8;
    text-decoration: none;
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 10px;
    font-weight: 550px;
    padding-top: 7px;

    /* Hovering styles */
    &:hover {
        background-color: #45294f;
        color: #fafafa;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    }
}

.readmorebutton {

    background-color: #45294f;
    ;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f8f8f8;
    text-decoration: none;
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    font-size: 10px;
    font-weight: 550px;
    padding-top: 7px;

    /* Hovering styles */
    &:hover {
        background-color: #45294f;
        color: #fafafa;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    }
}


    .radio-container {
        padding: 20px;

        input[type="radio"] {
            display: none; // Hide the default radio button input
        }

        label {
            position: relative;
            padding-left: 30px; // Adjust the spacing between the radio button and the label text
            padding-top: 20px;
            padding-bottom: 35px;
            cursor: pointer;
        }

        label::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px; // Set the width of the custom radio button
            height: 20px; // Set the height of the custom radio button
            border-radius: 50%;
            background-color: #ddd; // Set the color of the custom radio button
            border: 2px solid #333; // Set the border of the custom radio button
        }

        input[type="radio"]:checked+label::before {
            background-color: #333; // Set the color of the custom radio button when selected
        }
    }


    .search-bar {
        display: flex;
        align-items: center;

    }

    .search-input {
        padding: 8px;
        padding-right: 10px;;
        border: 2px solid black;
        border-radius: 0px;
        margin-right: 60px;
    }

    .search-button {
        padding: 8px 16px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #222;
        }
    }


    